@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .absolute-y-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .absolute-x-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .transition-300-ease {
    transition-duration: 300ms;
    transition-timing-function: ease;
  }

  .transition-300-ease-in-out {
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .text-screen-sm {
    @apply text-xs sm:text-sm md:text-md leading-xs sm:leading-sm md:leading-md
  }

  .text-screen-md {
    @apply text-sm sm:text-md md:text-lg leading-sm sm:leading-md md:leading-lg
  }

  .text-subscription-price-sm {
    @apply text-[12px] sm:text-[14px] md:text-[16px]
  }

  .text-subscription-price-large {
    @apply text-[20px] sm:text-[22px] md:text-[24px]
  }

  .text-subscription-price {
    @apply text-[24px] xs:text-[28px] sm:text-[32px] md:text-[36px] lg:text-[40px] xl:text-[44px]
  }

}
